.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  color: var(--text-sidebar);
  font-family: var(--font-dm-sans);
  letter-spacing: 0.025rem;
}

.sidebar__navigation .list,
.sidebar__library {
  background-color: var(--bg-base);
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
}

.sidebar__navigation .nav-link {
  text-decoration: none;
  color: var(--text-sidebar);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.sidebar__navigation .nav-link:hover {
  color: #fff;
}

.sidebar__navigation .active-nav-link {
  color: #fff;
  font-weight: bold;
}
.sidebar__navigation .list {
  list-style: none;
}

.sidebar__navigation .list li {
  padding: 10px 0px;
}

.sidebar .textSidebar {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 300;
}

.sidebar__library {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__library button {
  color: var(--text-sidebar);
  background-color: transparent;
  border: 0px;
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  letter-spacing: 0.025rem;
  text-decoration: none;
  text-transform: none;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}

.sidebar__library .fa-plus {
  margin-left: 10px;
}
